ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  margin-top: 0.875rem;
}

.footer_container {
  border-radius: 10px;
  width: 75%;
  box-shadow: var(--color-secondary) 0px 1px 2px 0px,
    var(--color-secondary) 0px 1px 3px 1px;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  color: var(--color-text-primary);
}

.footer_lists {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 1rem;
}

@media (max-width: 768px) {
  .footer_lists {
    flex-direction: column;
  }
}

.footer_social_lists {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_social_lists P {
  font-weight: bold;
}

.footer_input {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  padding: 1rem;
  margin-right: 0.25rem;
  border-radius: 1rem;
  box-shadow: rgba(68, 68, 68, 0.35) 0px 5px 15px;
  outline: none;
  margin-bottom: 0.875rem;
}

.footer_signIn_button {
  background-color: var(--color-button);
  color: var(--color-primary);
  padding: 1rem;
  margin-right: 0.25rem;
  border-radius: 1rem;
  box-shadow: rgba(53, 53, 53, 0.35) 0px 5px 15px;
  outline: none;
  margin-bottom: 0.875rem;
  font-weight: bold;
}

.footer_social_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.375rem;
}
